.main_container {
  width: 100%;
  min-height: 90vh;
  background-color: #f3f0e5;
  background-image: url(../../assets/images/background.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 65vh;
  display: flex;
}

.text_container h1 {
  margin: 10% 0;
  color: 001219;
  font-size: 4rem;
  text-align: center;
}
.text_container p {
  margin: 0 auto;
  color: 001219;
  font-size: 1.5rem;
  text-align: center;
}

.text_container h3 {
  margin: 5% 0;
  color: 001219;
  font-size: 2rem;
  text-align: center;
}

.text_container a {
  text-decoration: none;
}

.img_container {
  width: 40%;
}
.toolbar button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #9b2226;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.dod_container {
  width: 100%;
  height: 60vh;
  background-color: #001219;
}
